@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
* {
  font-family: 'Montserrat', sans-serif;
}

h5 {
  color: #c5bbbb;
}
strong {
  color: white;
}